{% load static %}
{% load fontawesome %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src='{% static "images/Gwellz.png"%}' class="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto pad">
      <li class="nav-item active">
        <a class="nav-link" href="#">{% fontawesome_icon 'home' large=True color='red'%}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{% fontawesome_icon 'info-circle' large=True color='blue'%}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">{% fontawesome_icon 'industry' large=True color='black'%}</a>
      </li>
    </ul>
    <!-- Lets comment out this code because we will reuse this block of code later
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    -->
  </div>
</nav>
